
ul {
  list-style-type: none;
  text-align: left;
}

button, input[type="text"] {
  border-radius: 10px;
}

.errorList {
  margin: 0;
  text-align: center;
}

#addTaskBtn {
  display:block;
  margin: auto;
}

.deleteCategoryBtn {
  margin: 0 1%;
}